/* COLOUR PALETTE
white #f9fcfa
grey #707070
blue #395ea9
red #8e2c1e
dark #252931
maxdark #181a1f
*/

/* TYPOGRAPHY 
Futura PT Light Oblique
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: italic;

Futura PT Book
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Book Oblique
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Light
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;

Futura PT Extra Bold
font-family: futura-pt, sans-serif;
font-weight: 800;
font-style: normal;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

*/

/* GLOBAL STYLES*/

body {
  background: #181a1f;
  margin: 0px 0px;
  font-family: Futura, Tahoma, Verdana, sans-serif;
}

nav {
  background-color: #181a1f;
  z-index: 2;
  position: fixed;
  width: 100%;
}

nav ul a {
  font-size: 24px;
}

.login-btn:hover {
  color: #707070;
}

nav li {
  color: #f9fcfa;
  display: inline-block;
  padding: 30px;
  float: right;
}

.cta-sign-up {
  background: #395ea9;
  padding: 10px 40px;
}

.cta-sign-up:hover {
  background: white;
  color: #395ea9;
}

p,
h1,
h2 {
  color: #f9fcfa;
}

h3 {
  color: #f9fcfa;
  font-family: Futura;
  font-size: 40px;
}

header {
  height: 130px;
  background: #181a1f;
}

/* HOME */

/* TOP ELEMENTS */

.home-top {
  position: relative;
}

.home-top__main-logo img {
  width: 500px;
  position: relative;
  top: 40px;
  left: 300px;
}

.logo-mini {
  padding: 10px;
  width: 60px;
}

.home-top__intro-boxes-container {
  display: grid;
  max-width: 1000px;
  margin: 90px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  font-size: 20px;
}

.home-top__intro-boxes {
  background: #395ea9;
  padding: 20px 20px;
}

.box3 {
  padding-top: 40px;
}

/* CREATE MY ACCOUNT SECTION */

.create-my-account {
  background-image: url(/images/inspiration-images/gradient-test-2.png);
  min-height: 70vh;
  max-width: 100%;
  background-size: 100%;

  background-position: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

.create-my-account a {
  font-size: 40px;
  text-decoration: none;
  background: #8e2c1e;
  color: #f9fcfa;
  padding: 10px 90px;
}

.create-my-account a:hover {
  background: #f9fcfa;
  color: #8e2c1e;
}

.create-my-account p {
  color: #f9fcfa;
  font-size: 15px;
  text-decoration: underline;
  margin-top: 60px;
  text-align: center;
}

.create-my-account p:hover {
  opacity: 50%;
}

/* CREATE MY ACCOUNT MOBILE SECTION*/

.create-my-account-m {
  position: relative;
}

.create-my-account-m a {
  font-size: 30px;
  text-decoration: none;
  background: #8e2c1e;
  color: #f9fcfa;
  padding: 20px 50px;
  position: relative;
  top: -20px;
  left: 10px;
}

.create-my-account-m a:hover {
  background: #f9fcfa;
  color: #8e2c1e;
}

.create-my-account-m p {
  color: #f9fcfa;
  font-size: 15px;
  text-decoration: underline;
  margin-top: 60px;
  position: relative;
  top: -20px;
  left: 10px;
}

.create-my-account-m p:hover {
  opacity: 50%;
}

/* TOP RATED SECTION */

.top-rated {
  background: #252931;
}

.top.rated__list {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.top-rated__film {
  display: inline-block;
  padding: 10px;
}

.top-rated img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

.top-rated img:hover {
  opacity: 40%;
}

.top-rated h2 {
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 320px;
}

/* AWARD WINNING FILMS SECTION */

.award-winning-films {
  background: #252931;
}

.award-wining-films__film-card-main {
  background: #181a1f;
  display: inline-block;
}

span {
  color: #707070;
  padding-right: 20px;
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
}
.director {
  margin-top: 0px;
}

.country {
  margin-top: 0px;
}

.breadcrumbs {
  color: #707070;
  margin-top: 0px;
}

.award-winning-films h2 {
  margin-top: 0px;
  padding-top: 80px;
  padding-left: 320px;
}

/* AWARD WINNING SECTION - FEATURE FILM CARD */

.grid-container {
  width: 800px;
  margin: auto;

  display: grid;
  grid-template-areas:
    "image image"
    "title stars"
    "director director"
    "country country"
    "breadcrumbs breadcrumbs";
}

.grid-item {
  background-color: #181a1f;
}

.grid-item-1 {
  grid-area: image;
  object-fit: cover;
}

.grid-item-2 {
  grid-area: title;
  padding-left: 20px;
}

.grid-item-2 h3 {
  grid-area: title;
  font-size: 50px;
}
.grid-item-3 {
  grid-area: director;
  font-size: 24px;
  padding-left: 20px;
}

.grid-item-4 {
  grid-area: country;
  font-size: 24px;
  padding-left: 20px;
}

.grid-item-5 {
  grid-area: breadcrumbs;
  font-size: 24px;
  padding-left: 20px;
}

.grid-item-6 img {
  grid-area: stars;
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}

.grid-container img:hover {
  opacity: 50%;
}

/* FILM MAKERS SECTION */

.film-makers {
  background: #252931;
}

.film-makers img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.film-makers img:hover {
  opacity: 50%;
}

.film-makers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
  gap: 20px;
  padding-bottom: 100px;
}

.film-makers h2 {
  margin-top: 0px;
  padding-top: 80px;
  padding-left: 320px;
}

.film-makers h4 {
  color: #f9fcfa;
  margin-bottom: 5px;
}

.film-makers h5 {
  color: #f9fcfa;
  opacity: 50%;
  margin-top: 0px;
}

.film-makers__card {
  margin-bottom: 0px;
}

/* NEW RELEASES SECTION */

.new-releases {
  background: 181a1f;
  max-width: 800px;
  margin: auto;
}

.new-releases img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.new-releases img:hover {
  opacity: 50%;
}
.new-releases__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  margin: auto;
  gap: 20px;
}

.new-releases__film-card {
}

.new-releases__btn-area {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.new-releases__btn-browse-catalogue {
  display: inline-block;
  background: #8e2c1e;
  color: #f9fcfa;
  text-decoration: none;
  font-size: 24px;
  padding: 15px 40px;
}

.new-releases__btn-browse-catalogue:hover {
  background: white;
  color: #8e2c1e;
}

.new-releases h2 {
  margin-top: 0px;
  padding-top: 40px;
}

/* FOOTER */

footer {
  background: #252931;
  text-align: center;
  padding: 30px;
}

.logo-footer {
  width: 145px;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
  nav ul a {
    font-size: 16px;
  }

  nav li {
    color: #f9fcfa;
    display: inline-block;
    padding: 10px;
    float: right;
  }

  .home-top__main-logo img {
    top: 10px;
    width: 300px;
    left: 30px;
  }

  .home-top__intro-boxes-container {
    display: grid;
    max-width: 1000px;
    margin: 90px auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    gap: 20px;
    font-size: 20px;
  }

  div.home-top__intro-boxes {
    margin: 5px 40px;
  }

  .create-my-account a {
    font-size: 30px;
    text-decoration: none;
    background: #8e2c1e;
    color: #f9fcfa;
    padding: 10px 40px;
  }

  .create-my-account {
    display: none;
  }

  section h2 {
    display: block;
    text-align: center;
    padding-left: 0px;
  }

  .top.rated__list {
    display: block;
    width: 100%;
    margin: auto;
  }

  .award-winning-films {
    display: none;
  }

  section.film-makers .film-makers__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .new-releases__container {
    display: block;
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  .logo-mini {
    display: none;
  }

  .create-my-account-m {
    display: none;
}
