/* COLOUR PALETTE
white #f9fcfa
grey #707070
blue #395ea9
red #8e2c1e
dark #252931
maxdark #181a1f
*/

/* TYPOGRAPHY 
Futura PT Light Oblique
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: italic;

Futura PT Book
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Book Oblique
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Light
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;

Futura PT Extra Bold
font-family: futura-pt, sans-serif;
font-weight: 800;
font-style: normal;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

*/

/* GLOBAL STYLES*/

p {
  color: #f9fcfa;
}

h1 {
  color: #f9fcfa;
}

h2 {
  color: #f9fcfa;
}

h3 {
  color: #f9fcfa;
  font-family: Futura;
  font-size: 40px;
}

body {
  background: #181a1f;
  margin: 0px 0px;
  font-family: Futura, Tahoma, Verdana, sans-serif;
}

header {
  height: 130px;
  background: #181a1f;
}

nav {
  background-color: #181a1f;
  z-index: 2;
  position: fixed;
  width: 100%;
}

nav ul a {
  font-size: 24px;
}

.login-btn:hover {
  color: #707070;
}

nav li {
  color: #f9fcfa;
  display: inline-block;
  padding: 30px;
  float: right;
}

.cta-sign-up {
  background: #395ea9;
  padding: 10px 40px;
}

.cta-sign-up:hover {
  background: white;
  color: #395ea9;
}

/* HOME */

/* TOP ELEMENTS */

.home-top__main-logo img {
  margin-left: 250px;
  max-width: 500px;
}

.home-top__intro-boxes-container {
  display: grid;
  max-width: 1000px;
  margin: 90px auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-size: 20px;
}

.home-top__intro-boxes {
  background: #395ea9;
  padding: 30px;
}

/* CREATE MY ACCOUNT SECTION */

.create-my-account {
  background-image: url(/images/inspiration-images/create-account-geoffrey-moffett.jpg);
  min-height: 70vh;
  max-width: 100%;
  background-size: cover;
  background-position: 30px 0px;
  /*display: grid;
  place-items: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

.create-my-account a {
  font-size: 40px;
  text-decoration: none;
  background: #8e2c1e;
  color: #f9fcfa;
  padding: 10px 90px;
}

.create-my-account p {
  color: #f9fcfa;
  font-size: 15px;
  text-decoration: underline;
}

/* TOP RATED SECTION */

.top-rated {
  background: #252931;
}

.top-rated__list {
  display: inline;
}

.top-rated img {
  width: 330px;
  object-fit: cover;
}

/* AWARD WINNING FILMS SECTION */

.award-winning-films {
  background: #252931;
}

.award-wining-films__film-card-main {
  background: #181a1f;
  display: inline-block;
}

.award-winning-films__featured {
  width: 1086px;
  height: 640px;
}

.award-wining-films__film-card-main span {
  color: #707070;
  padding-right: 20px;
}

/* FILM MAKERS SECTION */

.film-makers {
  background: #252931;
}

.film-makers img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.film-makers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
}

.film-makers h4 {
  color: #f9fcfa;
}

.film-makers h5 {
  color: #f9fcfa;
}

/* NEW RELEASES SECTION */

.new-releases {
  background: 181a1f;
  max-width: 800px;
  margin: auto;
  grid-template-areas:
    "title"
    "container"
    "button";
}

.new-releases img {
  width: 200px;
  object-fit: cover;
}

.new-releases__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  margin: auto;
  row-gap: 20px;
  column-gap: 20px;
}

.new-releases__film-card {
}

.new-releases__btn-area {
  text-align: center;
}

.new-releases__btn-browse-catalogue {
  display: inline-block;
  background: #8e2c1e;
  color: #f9fcfa;
}

/* FOOTER */

footer {
  background: #252931;
  text-align: center;
  padding: 30px;
}

.logo-footer {
  width: 145px;
}
