html body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Futura, Verdana, sans-serif;
}

body {
  background: #252931;
  margin: 0px;

  color: white;
  position: relative;
}

/* NAV WITH CHECKBOX HACK HAMBURGER MENU*/

nav {
  text-align: right;
  height: 50px;
  line-height: 50px;
  z-index: 100;
  position: sticky;
}

.menu {
  margin: 0 30px 0 0;
  background: #252931;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  line-height: 50px;
}

label {
  font-size: 50px;
  line-height: 50px;
  display: none;
  background: #181a1f;
  padding-bottom: 10px;
  padding-right: 10px;
}

#toggle {
  display: none;
}

.logo-top {
  width: 200px;
  padding-top: 5px;
}

/* MAIN */

/* MAIN MY ACCOUNT CONTAINER */

.my-account-container {
  display: grid;
  width: 600px;
  margin: 0 auto;
  padding-top: 120px;
  gap: 20px;
  grid-template-areas:
    "title title"
    "picture picture"
    "info data"
    "edit edit"
    "arrow arrow";
}

.my-account-container .grid-item {
  /* background: cornflowerblue; */
}

.my-account-container .title {
  grid-area: title;
  text-align: center;
}

.my-account-container .title h1 {
  color: #395ea9;
  font-size: 36px;
}

.my-account-container .picture {
  grid-area: picture;
  text-align: center;
}

.my-account-container .picture img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.my-account-container .info {
  grid-area: info;
  text-align: right;
}

.my-account-container .info p {
  opacity: 60%;
}

.my-account-container .data {
  grid-area: data;
}

.my-account-container .edit {
  grid-area: edit;
  text-align: center;
}

.my-account-container .edit p {
  text-decoration: underline;
}

.my-account-container .edit p:hover {
  opacity: 70%;
}

.my-account-container .arrow {
  grid-area: arrow;
  text-align: center;
  padding-bottom: 10px;
}

.my-account-container .arrow img {
  width: 30px;
}

/* MY FAVOURITES */

.my-favourites {
  background: #181a1f;
}

.my-favourites-container {
  display: grid;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  grid-template-areas:
    "title title title title"
    "film1 film2 film3 film4 ";
}

.my-favourites-container .grid-item {
  /* background: cornflowerblue; */
  background-size: cover;
  max-width: 100%;
}

.my-favourites-container .title {
  grid-area: title;
}

.my-favourites-container .film1 {
  grid-area: film1;
}

.my-favourites-container .film2 {
  grid-area: film2;
}

.my-favourites-container .film3 {
  grid-area: film3;
}

.my-favourites-container .film4 {
  grid-area: film4;
}

.my-favourites-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-favourites-container img:hover {
  opacity: 50%;
}

/* DELETE MY ACCOUNT */
.delete-my-account {
  background: #181a1f;
}

.delete-my-account p {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 50px;
  margin: 0px;
}

.delete-my-account p:hover {
  opacity: 70%;
}

/* FOOTER */
.logo-footer {
  text-align: center;
  background: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-footer img {
  width: 200px;
}

@media only screen and (max-width: 650px) {
  /* NAV */
  label {
    display: block;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    background: #181a1f;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
    z-index: 10;
  }

  /* MY ACCOUNT */
  .my-account-container {
    width: 100%;
  }

  .my-account-container .picture img {
    width: 150px;
    height: 150px;
  }

  /* MY FAVOURITES */
  .my-favourites-container {
    gap: 10px;
    width: 80%;
    grid-template-areas:
      "title title"
      "film1 film2"
      "film3 film4";
  }
}
