.nav-logo img {
  max-width: 120px;
}

.home-header {
  position: relative;
  width: 100%;
  padding: 2em 0em;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  /* background: rgb(92, 97, 81); */
}

.main-navigation {
  display: flex;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 3em;
}

.secondary-nav {
  display: flex;
  width: 60%;
  justify-content: end;
  gap: 2em;
  align-items: center;
}

.secondary-nav img {
  width: 1.2em;
}

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ nav {
  display: block;
}

.main-navigation label {
  font-size: 31px;
  font-weight: 900;
  display: none;
}

@media (min-width: 1441px) {
  section {
    padding: 8em 0;
    margin: 0;
  }

  /* ############### Navigation ###############  (min-width: 1441px)*/

  .primary-nav {
    width: 60%;
  }

  .secondary-nav {
    width: 20%;
  }

  /* ############### Home Page ############### (min-width: 1441px)*/

  /* <<<------------------ Home Page Hero Section (min-width: 1441px) ---------------->>> */

  .home-grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
  }

  .hero-content {
    grid-column: 1 / 5;
    width: 100%;
  }

  .hero-img {
    background-position-x: center;
    grid-column: 6 / 12;
    grid-row: 4/ 6;
    height: 700px;
    /* width: 100%; */
  }

  /* <<<------------------ Home Page Banner Section (min-width: 1441px) ---------------->>> */

  .banner-section {
    background-position-x: center;
    padding: 300px 0;
  }

  /* <<<------------------ Home Page Instagram Feed Section (min-width: 1441px) ---------------->>> */

  .instagram-feed {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
    align-items: center;
    margin: 2em 0;
  }

  .instagram-img img {
    width: 100%;
  }

  /* ############### Shop Page ############### (min-width: 1441px)*/

  /* <<<------------------ Shop Page Hero Section (min-width: 1441px) ---------------->>> */

  section.hero-banner {
    height: 30vh;
  }

  /* ###############================ Product Page ================############### (min-width: 1441px) */

  /* <<<------------------ Product Page Hero Section ---------------->>> (min-width: 1441px) */
  .product-page-cta a {
    padding: 1.2em 7.2em;
  }

  /* ###############================ Contact Page ================############### (min-width: 1441px) */

  /* <<<------------------ Contact Page Page Hero Section ---------------->>> (min-width: 1441px) */
  section.hero-banner.has-background {
    min-height: 30vh;
  }

  /* <<<------------------ Contact Map Section ---------------->>> (min-width: 1441px)*/

  .container.cards-wrapper {
    padding: 8em 2em 2em;
  }

  /* ############### Bag Detail Page ############### (max-width: 486px)*/

  /* <<<------------------ Bag Detail Hero Section ---------------->>> (max-width: 486px)*/

  .bag-detail-img {
    width: 200px;
  }
}
